# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.env

# JavaScript/Node
node_modules/
npm-debug.log
yarn-error.log

# Frontend Build
frontend/dist/

# IDE
.vscode/
.idea/

# Database
*.db
*.sqlite
*.sqlite3

# Project specific
covers/
backend/covers/
